<main class="main-container">
  <section class="main-section">
    <header>
      <h1 class="primary-header">নিজের শেখা নিজেই গুছিয়ে <br /> নেয়ার যাত্রা শুরু হোক</h1>
      <h3 class="secondary-header">যেকোনো বিষয়ে যেকোনো কিছু শিখতে চলে যাও তোমার পছন্দের সেকশনে</h3>
    </header>
    <!--Header section Ends-->
    <div class="card-container">
      <app-shared-card *ngFor="let data of courses" [data]="data"></app-shared-card>
    </div>
    <!--Shared Card Component Ends-->
    </section>


    <app-swipper-carousel></app-swipper-carousel>
  </main>