<div class="wrapper">
    <div>
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Facilis soluta iure aspernatur dolor recusandae, a
        non id! Debitis hic eos assumenda, libero alias pariatur dolores quis error. Quae officia optio labore
        voluptates nobis ullam est nam eum sit, sequi dolore eaque, a excepturi tempore, molestias repellat? Repellat
        voluptate aut ullam rem velit molestiae dicta, dignissimos, omnis atque nisi nobis voluptates illo maxime
        perspiciatis iusto dolores tempore incidunt fugit asperiores eum. Cupiditate doloremque voluptatibus voluptatem
        at commodi ipsa doloribus amet accusantium.
    </div>
    <div>
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Commodi doloribus dignissimos repellat quibusdam
        voluptatem vitae hic aperiam beatae, aliquid itaque voluptas fugit quisquam sed nostrum soluta, vel facilis
        nesciunt aliquam laborum officiis voluptatum. Facere inventore maiores minus necessitatibus quod mollitia?
    </div>
</div>